<div id="aside-toolbar" class="arx-bars-container has-toolbar arx-bars-sticky">
    <nav class="arx-popup-items draggable-menu">
        <ul class="drop-down">
            <label class="heading-item"><a class="nav-button"> General</a></label>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="paragraph">
                <span class="arx-popup-item-icon"><i class="fas mr-0 fa-paragraph"></i></span>
                <span class="item-title">Paragraph</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="text">
                <span class="arx-popup-item-icon arx-icon-text"></span>
                <span class="item-title">Text</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="heading-large">
                <span class="arx-popup-item-icon"><i class="fas mr-0 fa-heading"></i></span>
                <span class="item-title">Large Heading</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="heading-medium">
                <span class="arx-popup-item-icon"><i class="fas mr-0 fa-heading"></i></span>
                <span class="item-title">Medium Heading</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="heading-small">
                <span class="arx-popup-item-icon"><i class="fas mr-0 fa-heading"></i></span>
                <span class="item-title">Small Heading</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="image">
                <span class="arx-popup-item-icon arx-icon-image"></span>
                <span class="item-title">Image</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="video">
                <span class="arx-popup-item-icon"><i class="fas mr-0 fa-file-video"></i></span>
                <span class="item-title">Video</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="embed">
                <span class="arx-popup-item-icon arx-icon-embed"></span>
                <span class="item-title">Embed</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="line">
                <span class="arx-popup-item-icon arx-icon-line"></span>
                <span class="item-title">Line</span>
            </div>
        </ul>
        <ul class="drop-down closed overflow-hidden">
            <label class="heading-item"><a class="nav-button">Component</a></label>
            <img class="draggable-img" src="https://cdn.devdojo.com/images/tails/headers/header-01.png" data-arx-drop-id="header-01">
            <img class="draggable-img" src="https://cdn.devdojo.com/images/tails/heros/hero-01.png" data-arx-drop-id="hero-01">
            <img class="draggable-img" src="https://cdn.devdojo.com/images/tails/features/features-01.png" data-arx-drop-id="features-01">
            <img class="draggable-img" src="https://cdn.devdojo.com/images/tails/testimonials/testimonials-01.png" data-arx-drop-id="testimonial-01">
            <img class="draggable-img" src="https://cdn.devdojo.com/images/tails/pricing/pricing-01.png" data-arx-drop-id="pricing-01">
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container" data-arx-drop-id="card-02">
                <span class="arx-popup-item-icon arx-icon-card"></span>
                <span class="item-title">Simple Card</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container" data-arx-drop-id="card-01">
                <span class="arx-popup-item-icon arx-icon-card"></span>
                <span class="item-title">Advanced card</span>
            </div>
        </ul>
        <ul class="drop-down closed overflow-hidden">
            <label class="heading-item"><a class="nav-button">Design</a></label>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container" data-arx-drop-id="layer">
                <span class="arx-popup-item-icon arx-icon-layer"></span>
                <span class="item-title">Layer</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container" data-arx-drop-id="container">
                <span class="arx-popup-item-icon "><i class="fas mr-0 fa-ruler-combined"></i></span>
                <span class="item-title">Container</span>
            </div>
            <div class="arx-popup-stack arx-popup-stack-grid" style="display: block;">
                <div class="arx-popup-body">
                    <div class="arx-popup-items">
                        <div class="heading-item" >
                            <span class="item-title">Flex Box</span>
                        </div>
                        <div class="arx-popup-grid-box arx-popup-item arx-popup-stack-item" data-arx-drop-id="flex-02">
                            <span class="arx-popup-grid-column" style="width: 50%;"></span>
                            <span class="arx-popup-grid-column" style="width: 50%;"></span>
                        </div>
                        <div class="arx-popup-grid-box arx-popup-item arx-popup-stack-item" data-arx-drop-id="flex-03">
                            <span class="arx-popup-grid-column" style="width: 33.3333%;"></span>
                            <span class="arx-popup-grid-column" style="width: 33.3333%;"></span>
                            <span class="arx-popup-grid-column" style="width: 33.3333%;"></span>
                        </div>
                        <div class="arx-popup-grid-box arx-popup-item arx-popup-stack-item" data-arx-drop-id="flex-04">
                            <span class="arx-popup-grid-column" style="width: 25%;"></span>
                            <span class="arx-popup-grid-column" style="width: 25%;"></span>
                            <span class="arx-popup-grid-column" style="width: 25%;"></span>
                            <span class="arx-popup-grid-column" style="width: 25%;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arx-popup-stack arx-popup-stack-grid" style="display: block;">
                <div class="arx-popup-body">
                    <div class="arx-popup-items">
                        <div class="heading-item" >
                            <span class="item-title">Grid</span>
                        </div>
                        <div class="arx-popup-grid-box arx-popup-item arx-popup-stack-item" data-arx-drop-id="grid-01">
                            <span class="arx-popup-grid-column" style="width: 33.3333%;"></span>
                            <span class="arx-popup-grid-column" style="width: 33.3333%;"></span>
                            <span class="arx-popup-grid-column" style="width: 33.3333%;"></span>
                        </div>
                        <div class="arx-popup-grid-box arx-popup-item arx-popup-stack-item" data-arx-drop-id="grid-02">
                            <span class="arx-popup-grid-column" style="width: 33.3333%;"></span>
                            <span class="arx-popup-grid-column" style="width: 66.6667%;"></span>
                        </div>
                        <div class="arx-popup-grid-box arx-popup-item arx-popup-stack-item" data-arx-drop-id="grid-03">
                            <span class="arx-popup-grid-column" style="width: 50%;"></span>
                            <span class="arx-popup-grid-column" style="width: 50%;"></span>
                        </div>
                        <div class="arx-popup-grid-box arx-popup-item arx-popup-stack-item" data-arx-drop-id="grid-04">
                            <span class="arx-popup-grid-column" style="width: 66.6667%;"></span>
                            <span class="arx-popup-grid-column" style="width: 33.3333%;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <ul class="drop-down closed  overflow-hidden">
            <label class="heading-item"><a class="nav-button">Special</a></label>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="quote">
                <span class="arx-popup-item-icon arx-icon-quote"></span>
                <span class="item-title">Quote</span>
            </div>
            <div class="arx-popup-item arx-popup-stack-item arx-popup-item-container"  data-arx-drop-id="code">
                <span class="arx-popup-item-icon arx-icon-code"></span>
                <span class="item-title">Code</span>
            </div>
        </ul>    
    </nav>
</div>
