<div class="shadow-lg flex-grow flex flex-col">
    <div class="bg-indigo-600 rounded-t-md">
        <h4 class="py-5 text-white text-xl text-center font-serif font-bold">
            Heading
        </h4>
    </div>
    <div class="p-4">
            <p>- Lorem ipsum dolor sit amet</p>
            <p>- consectetur adipiscing elit</p>
            <p>- Morbi quis libero tempor</p>
            <p>- molestie sem sed, facilisis mi </p>
            <p>- Integer eu consectetur </p>     
    </div>
    <h4 class="py-3 px-3 text-lg text-center font-serif font-bold">
        48€ consectetur
                        <br>
        78€ adipiscing elit
    </h4>
</div>
