<div class="text-black w-64 min-w-full">
        <div>
            <figure>
                <img class="w-full object-cover object-center h-64" src="https://via.placeholder.com/1000" alt="espace de coworking à l'atelier de claret">
            </figure>
        </div>
        <div class="bg-white pb-3">
            <div class="w-full flex flex-wrap">
                <figure class="w-1/3">
                    <img class="p-3" src="https://via.placeholder.com/250" alt="logo coworking">
                </figure>
                <div class="w-2/3 flex">
                <div class="my-auto p-2">
                    <h3 class="font-serif font-bold text-xl md:text-2xl">
                        <a href="#" class="text-indigo-600 text-base font-sans hover:text-indigo-500">Title</a>
                    </h3>
                    <h4>
                        Subtitle
                    </h4>
                </div>
                </div>
            </div>
            <div class="text-arx w-full px-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis libero tempor, molestie sem sed, facilisis mi. Integer eu consectetur.
            </div>
            <div class="text-arx text-indigo-600 text-center hover:text-white hover:bg-indigo-600 ring-2 ring-indigo-600 p-3 m-3 rounded-md focus:outline-none">
            <a href="/page/coworking" class="block">
                More
            </a>
            </div>
        </div>
    </div>